body {
    background-color:#f5f5f5;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.cardScale {
    transition:all 2s;
    transform:scale(3);
}

.cardHide {
    transition:all 3s;
    visibility:hidden;
}

.cardReScale {
    transition:all 2s;
    transform:scale(1);
}

.cardShow {
    visibility:visible;
}

.flipContainer {
    position:relative;
    margin:auto;
    width:100%;
    height:100%;
    min-width:400px;
    z-index:1;
    float:left;
}

.flipContainer {
    -webkit-perspective:-1000;
    perspective:-1000;
}

.flipped {
    -webkit-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
}

.flipper {
    width:100%;
    height:100%;
     -webkit-transition:all 0.3s linear;
    transition:all 0.3s linear;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}

.face {
    position: absolute;
    width:100%;
    height:100%;
}

.front, .back{
    top:64px;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}

.front {
    z-index:2;
}

.back {
    -webkit-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
}

.shadow {
    -webkit-filter: drop-shadow( -5px -5px 5px #D3D3D3 ); 
    filter: drop-shadow( 5px 5px 5px #D3D3D3 );  
}

#undA {
    position:absolute;
    top:308px;
    left:446px;
    width:0px;
    height:1px;
    background:black;
    -webkit-transition:0.3s;
    transition:0.3s;
}

#undW {
    position:absolute;
    top:308px;
    left:593px;
    width:0;
    height:1px;
    background:black;
    -webkit-transition:0.3s;
    transition:0.3s;
}

#undC {
    position:absolute;
    top:308px;
    left:720px;
    width:94px;
    height:1px;
    background:black;
    -webkit-transition:0.3s;
    transition:0.3s;
    visibility: hidden;
}

#test {
    position:absolute;
    top:24.1vw;
    left:6.9vw;
    margin-left:50%;
    width:0;
    height:0.04vw;
    background:red;
    -webkit-transition:0.3s;
    transition:0.3s;
}

#undA:hover {
    width:68px;
}

#undW:hover {
    width:58px;
}

#undC:hover {
    width:94px;
}

#test:hover {
    width:7.31vw;
}

#square {
    position:absolute;
    top:1.29vw;
    left:-0.07vw;
    margin-left:72%;
    width:auto;
    min-width:1.6vw;
    height:1.6vw;
    background:dodgerblue;
}